body {
  font-family: 'Montserrat', sans-serif;
}
.box__cat {
  display: flex;
  flex-direction: row;
}

.box__cat > img {
  max-width: 500px;
  margin-right: 40px;
}

.box__description {
  max-width: 500px;
}

h2 {
  font-size: 2.5rem;
}
